<div class="services-section" id="services">
    <div class="container">
      <h2 class="section-title">Our Services</h2>
      <p class="section-description">We offer a variety of services to help students achieve their academic goals.</p>
      <div class="row">
        <div class="col-md-4">
          <div class="service">
            <img src="../../assets/tutorial.jpg" alt="Tutoring">
            <h3 class="service-title">Tutoring</h3>
            <p class="service-description">One-on-one tutoring in a variety of subjects to help students improve their grades and understanding of the material.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service">
            <img src="../../assets/sat.jpg" alt="Test Preparation">
            <h3 class="service-title">Test Preparation</h3>
            <p class="service-description">Expert test preparation for exams such as the SAT, ACT, and AP exams to help students achieve their best scores.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service">
            <img src="../../assets/homework.jpg" alt="Homework Help">
            <h3 class="service-title">Homework Help</h3>
            <p class="service-description">Assistance with homework in a variety of subjects to help students improve their grades and understanding of the material.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
