<div class="main">
  <h1>Welcome to Our Education Company</h1>
  <p>We provide high-quality education services to help students achieve their goals.</p>
  
<h1>Meet The Team</h1>
<br>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../../assets/julian.jpg" alt="Jane" width="340px" height="350px">
      <div class="container">
        <h2>John Drake</h2>
        <p class="title">CEO & Founder</p>
        <p>Welcome to our education company! We believe in providing quality education and fostering a love for learning in every student.</p>
        <p>johndrake@tigereducation.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../assets/julian.jpg" alt="Mike" width="340px" height="350px">
      <div class="container">
        <h2>Mike Ryan</h2>
        <p class="title">Department Director</p>
        <p>Our dedicated team of educators is committed to ensuring that our students receive the support and guidance they need to succeed.</p>
        <p>mikeryan@tigereducation.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="../../assets/julian.jpg" alt="Mike" width="340px" height="350px">
      <div class="container">
        <h2>Mark Logan</h2>
        <p class="title">Science Director</p>
        <p>We look forward to helping you reach your full potential and achieving your future dreams and vision .Let's learn and grow together.</p>
        <p>mlogan@tigereducation.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="../../assets/julian.jpg" alt="John" width="340px" height="350px">
      <div class="container">
        <h2>James Doe</h2>
        <p class="title">Art Director</p>
        <p>To expand your knowledge and reach your full potential we strive to create a learning environment that fosters creativity and success.</p>
        <p>jamesd@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
</div>


